.urb-it-postcode-validator {
	padding: 14px 14px 14px 56px;
	border: 1px solid #eee;
	background-repeat: no-repeat;
	background-position: 1em center;
}

.widget .urb-it-postcode-validator {
	padding: 0 0 0 40px;
	border: none;
	background-position: left center;
}

.urb-it-postcode-validator .title {
	display: inline;
	font-size: 1em;
	margin-bottom: 0;
}

.urb-it-postcode-validator .show-field {
	white-space: nowrap;
	cursor: pointer;
}

.urb-it-postcode-validator .field {
	margin-top: 0.5em;
}

.urb-it-postcode-validator .input-text {
	max-width: 50%;
	-moz-appearance:textfield;
}

.urb-it-postcode-validator .input-text::-webkit-outer-spin-button,
.urb-it-postcode-validator .input-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
}